* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
/* Main CSS */
body {
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}
/* Mobile First CSS */
.search-box {
    text-align: center;
    margin-bottom: 1.5rem;
}
.search-box .title {
    padding-top: 1.5rem;
}
.search-box .input-div {
    margin-top: 1.5rem;
}
.search-box .searchbox {
    height: 50px;
    font-size: 20px;
}
#persons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#persons .grid-item {
    margin-bottom: 1.5rem;
    width: 70%;
    text-align: center;
    border: 6px solid #dfdfdf;
    border-radius: 5px;
}
#persons .grid-item img {
    border-radius: 50%;
    margin: .6em 0 .4em 0;
    background-color: #ffffff;
}
#persons .grid-item .info-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#persons .grid-item .info-text h1 {
    padding-top: .3em;
    font-size: 1.5rem;
}
#persons .grid-item .info-text h1,
#persons .grid-item .info-text .person-text {
    padding-bottom: .5em;
}
#persons .grid-item .info-text .person-text {
    font-size: .9rem;
}
/* Mobile First Modal CSS */
.modal-overlay {
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    padding-top:20em;

}
 .modal-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    vertical-align: middle;
    width: 50%;
}
.modal-content {
    width: 50%;
}
#close-btn {
    display: flex;
    justify-content: flex-end;
}
/* End Mobile First Modal CSS */
/* End Mobile First CSS */