* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    padding-left: 3.2em;
    margin-top: 2em;
    font-size: 48px;
}
#persons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 2rem;
}
.grid-item {
    display: flex;
    width: 95%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 1.5rem;
}
.info-text {
    font-size: 1.7rem;
    width: 50%;
    color: gray;
    text-align: left;
    margin-top: 1rem;
}
.info-text h1 {
    color: black;
    white-space: nowrap;
    text-align: left;
    width: 100%;
}
.person-text {
    margin-top: .8rem;
    font-size: 2rem;
}
.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}