* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main CSS */
body {
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}
.title {
    padding-left: 1em;
    margin-top: 2em;
    font-size: 48px;
}
.input-div {
    width: 800px;
    height: 100px;
    margin: auto;
}
input {
    width: 800px;
    height: 100px;
    font-size: 4rem;
} 
#persons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 2rem;
}
.grid-item {
    display: flex;
    background-color: #ffffff;
    width: 95%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border: 6px solid #dfdfdf;
    border-radius: 5px;
    margin: 1.5rem;
}
.grid-item:hover {
    cursor: pointer;
}
.info-text {
    font-size: 1.7rem;
    width: 50%;
    color: gray;
    text-align: left;
    margin-top: 1rem;
}
.info-text h1 {
    color: #4a4a4a;
    white-space: nowrap;
    text-align: left;
    width: 100%;
}
.person-text {
    margin-top: .8rem;
    font-size: 2rem;
}
.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
/* Modal CSS */
