* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main CSS */
body {
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    padding-left: 1em;
    margin-top: 2em;
    font-size: 48px;
}
/* .input-div {
    width: 800px;
    height: 100px;
    margin: auto;
} */
input {
    width: 800px;
    height: 70px;
    padding: .5rem;
    font-size: 2rem;
    margin-top: 7rem;
    margin-right: 4.5rem;
} 
#persons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 2rem;
}
.grid-item {
    display: flex;
    background-color: #ffffff;
    width: 95%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border: 6px solid #dfdfdf;
    border-radius: 5px;
    margin: 1.5rem;
}
.grid-item:hover {
    cursor: pointer;
}
.info-text {
    font-size: 1.7rem;
    width: 50%;
    color: gray;
    text-align: left;
    margin-top: 1rem;
}
.info-text h1 {
    color: #4a4a4a;
    white-space: nowrap;
    text-align: left;
    width: 100%;
}
.person-text {
    margin-top: .8rem;
    font-size: 2rem;
}
.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
/* Modal CSS */
.modal-overlay {
    /* shouldn't appear by default */
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    padding-top:20em;

}
#myModal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}
#myModal-content .employee-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
#myModal-content h1 {
    padding-top: 1em;
    font-size: 2.5rem;
}
#myModal-content p.email,
#myModal-content p.city,
#myModal-content p.number,
#myModal-content p.address,
#myModal-content p.birthday {
    padding-top: 1em;
    color: gray;
    font-size: 2rem;
}
#myModal-content hr {
    height: 4px;
    margin-top: 4em;
    margin-bottom: 3em;
    color: #4a4a4a;
    background-color: #4a4a4a;
    width: 80%;
}
.modal-content {
    background-color: white;
    border: 6px solid #dfdfdf;
    border-radius: 15px;
    width: 28%;
    height: 75%;
    margin: auto;
}
.close-div {
    display:flex;
    justify-content: right;
}
.close {
    font-size: 3em;
    font-weight: bold;
    margin: 10px 15px 0px 0px;
}
.close:hover {
    cursor: pointer;
}
.arrows {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
}

.arrow-left,
.arrow-right {
    width: 70px;
    height: 70px;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
}