* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
/* Main CSS */
body {
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}
/* Mobile First CSS */
.search-box {
    text-align: center;
    margin-bottom: 1.5rem;
}
.search-box .title {
    padding-top: 1.5rem;
}
.search-box .input-div {
    margin-top: 1.5rem;
}
.search-box .searchbox {
    height: 50px;
    font-size: 20px;
}
.search-box .searchbox::placeholder {
    text-align: center;
}
#persons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#persons .grid-item {
    margin-bottom: 1.5rem;
    width: 70%;
    text-align: center;
    border: 6px solid #dfdfdf;
    border-radius: 5px;
}
#persons .grid-item img {
    border-radius: 50%;
    margin: .6em 0 .4em 0;
    background-color: #ffffff;
}
#persons .grid-item .info-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#persons .grid-item .info-text h1 {
    padding-top: .3em;
    font-size: 1.5rem;
}
#persons .grid-item .info-text h1,
#persons .grid-item .info-text .person-text {
    padding-bottom: .5em;
}
#persons .grid-item .info-text .person-text {
    font-size: .9rem;
}
/* Mobile First Modal CSS */
.modal-overlay {
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    padding-top:20em;

}
 .modal-container {
    background-color: white;
    border: 6px solid #dfdfdf;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content {
    text-align: center;
    position: relative;
}
.modal-content img {
    border-radius: 50%;
}
.modal-content .number,
.modal-content .email {
    margin-top: 1em;
}
.modal-content .address,
.modal-content .birthday {
    margin-top: .8em;
}
.modal-content .city {
    margin-bottom: 1em;
}
.arrows {
    display: flex;
    justify-content: center;
    margin: .5em;
}
.arrow-right,
.arrow-left {
    width: 60px;
    height: 60px;
    padding: .5em;
}
#close-btn {
    display: flex;
    justify-content: flex-end;
    margin: .5em .5em 0 0;
    font-size: 1.5rem;
}
/* End Mobile First Modal CSS */
/* End Mobile First CSS */

/* Begin iPad/Tablet Media Query */
@media (min-width: 481px) and (max-width: 768px) {
    #persons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .modal-container {
        width: 50%;
        height: 60%;
    }
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .modal-content img.employee-img {
        margin-bottom: 1.5em;
    }
    .modal-content p {
        font-size: 1.1rem;
        white-space: nowrap;
        overflow: hidden;
    }
    .arrows {
        margin-bottom: 3em;
    }
    #close-btn {
        margin: 1.5em .5em 0 0;
        font-size: 2rem;
    }
}
/* End iPad/Tablet Media Query */
/* Begin Laptop media query */
@media (min-width: 769px) and (max-width: 1024px) {
    #persons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    #persons .gridt-item .info-text .person-text {
        font-size: .8rem;
    }
    .modal-container {
        width: 50%;
        height: 60%;
    }
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .modal-content img.employee-img {
        margin-bottom: 1.5em;
    }
    .modal-content p {
        font-size: 1.1rem;
        white-space: nowrap;
        overflow: hidden;
    }
    .arrows {
        margin-bottom: 3em;
    }
    #close-btn {
        margin: 1.5em .5em 0 0;
        font-size: 2rem;
    }
}
/* End Laptop media query */

/* Begin Desktop media query */
@media (min-width: 1025px) and (max-width: 1300px) {
    .search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-box .title {
        margin-left: 1em;
    }
    .search-box .searchbox {
        margin-right: 1em;
        padding-left: .5em;
    }
    .search-box .searchbox::placeholder {
        text-align: left;
    }
    #persons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    #persons .grid-item {
        display: flex;
        width: 78%;
        height: 150px;
        text-align: left;
        align-items: center;
    }
    #persons .grid-item img {
        width: 75px;
        height: 75px;
        margin-left: .8em;
    }
    #persons .grid-item .info-text {
        padding-left: 1em;
    }
    .modal-container {
        width: 35%;
        height: 60%;
    }
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .modal-content img.employee-img {
        margin-bottom: 1.5em;
    }
    .modal-content p {
        font-size: 1.1rem;
        white-space: nowrap;
        overflow: hidden;
    }
    .arrows {
        margin-bottom: 3em;
    }
    #close-btn {
        margin: 1.5em .5em 0 0;
        font-size: 2rem;
    }
}
/* End Desktop media query */